/* Structure */

/* Main */

body {
    font-family: 'Proxima Nova', 'Helvetica Neue' , Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}

pre, code {
    font-size: 1em;
    line-height: 1.2em;
}

main {
    padding: 0 2ex 0 2ex;
    display: block;
}

@media screen and (max-device-width: 480px) {
    main {
        max-width: 100%;
    }

    pre {
        overflow: auto;
        overflow-y: hidden;
    }
}

@media screen and (min-device-width: 480px) {
    main {
        max-width: 80ex;
    }
}

h1, h2, h3 {
    line-height: 1.2em;
}

/* Menu */

nav { 
    padding: 0ex;
    top: 0ex;
    margin: 0ex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav li + li::before {
    content: " | ";
}

header {
    padding: 0ex;
    top: 0ex;
    margin-bottom: 2ex;
}