<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <title>{{ page.title | default: site.title }}</title>

  <link rel="stylesheet" href="{{- 'assets/css/style.css' | relative_url -}}" />
  <link rel="stylesheet" href="{{- 'assets/css/light.css' | relative_url -}}" />
  <link rel="stylesheet" href="{{- 'assets/css/dark.css' | relative_url -}}" />
  <link rel="stylesheet" href="{{- 'assets/css/pygment-xcode.css' | relative_url -}}" />
  <link rel="stylesheet" href="{{- 'assets/css/pygment-nord.css' | relative_url -}}" />

  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@otaviocc" />
  <meta name="twitter:site" content="@otaviocc" />
  <meta name="twitter:description" content="{{ page.description | default: site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/images/me.jpg">

  <meta property="og:image" content="{{ site.url }}/assets/images/me.jpg" />
</head>
<body>
  <main>
    {% include menu.html %}

    <div class="description">
      <h1>{{ page.title | default: site.title }}</h1>
      {% if page.date %}
      <h3>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </h3>
      {% elsif page.title == nil %}
      <p>{{ page.description | default: site.description }}</p>
      {% endif %}
    </div>

    {{ content }}
  </main>
</body>
</html>