@charset "utf-8";

$brand-color:           #7AC8B6 !default;
$brand-color-light:     lighten($brand-color, 0%) !default;
$brand-color-dark:      darken($brand-color, 55%) !default;

$site-title-color:      $brand-color-light !default;

$text-color:            #bbbbbb !default;
$background-color:      #181818 !default;
$code-background-color: #212121 !default;

$link-base-color:       #7AC8B6 !default;
$link-visited-color:    $link-base-color !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-dark !default;
$border-color-02:       $brand-color-light !default;
$border-color-03:       $brand-color !default;

$table-text-color:      $text-color !default;
$table-zebra-color:     lighten($background-color, 4%) !default;
$table-header-bg-color: lighten($background-color, 10%) !default;
$table-header-border:   lighten($background-color, 21%) !default;
$table-border-color:    $border-color-01 !default;

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------

.highlight { background: #211f1e; color: #fff }

.highlight {
    .hll { background-color: #515B70 }
    .c { color: #6C7986 }
    .c1 { color: #6C7986 }
    .cs { color: #6C7986 }
    .ch { color: #6C7986 }
    .cm { color: #6C7986 }
    .cp { color: #ff79c6 }
    .cpf { color: #6C7986 }
    .err { color: #f8f8f2 }
    .k { color: #FC5FA3; font-weight: bold }
    .kc { color: #FC5FA3; font-weight: bold }
    .kd { color: #FC5FA3; font-weight: bold }
    .kn { color: #FC5FA3; font-weight: bold }
    .kp { color: #FC5FA3; font-weight: bold }
    .kr { color: #FC5FA3; font-weight: bold }
    .o { color: #fff }
    .n { color: #67B7A4 }
    .nv { color: #41A1C0 }
    .p { color: #fff }
    .nf { color: #A167E6 }
    .s { color: #FC6A5D }
    .mb { color: #9686F5 }
    .mf { color: #9686F5 }
    .mh { color: #9686F5 }
    .mi { color: #9686F5 }
    .mo { color: #9686F5 }
    .kt { color: #7AC8B6 }
    .nc { color: #91D462 }
    .g { color: #f8f8f2 }
    .l { color: #f8f8f2 }
    .x { color: #f8f8f2 }
    .gd { color: #8b080b }
    .ge { color: #f8f8f2; text-decoration: underline }
    .gr { color: #f8f8f2 }
    .gh { color: #f8f8f2; font-weight: bold }
    .gi { color: #f8f8f2; font-weight: bold }
    .go { color: #44475a }
    .gp { color: #f8f8f2 }
    .gs { color: #f8f8f2 }
    .gu { color: #f8f8f2; font-weight: bold }
    .gt { color: #f8f8f2 }
    .ld { color: #f8f8f2 }
    .m { color: #bd93f9 }
    .na { color: #50fa7b }
    .nb { color: #ff79c6; font-style: medium }
    .no { color: #f8f8f2 }
    .nd { color: #f8f8f2 }
    .ni { color: #f8f8f2 }
    .ne { color: #f8f8f2 }
    .nl { color: #ff79c6; font-style: medium }
    .nn { color: #f8f8f2 }
    .nx { color: #f8f8f2 }
    .py { color: #f8f8f2 }
    .nt { color: #ff79c6 }
    .ow { color: #ff79c6 }
    .w { color: #f8f8f2 }
    .sa { color: #f1fa8c }
    .sb { color: #f1fa8c }
    .sc { color: #f1fa8c }
    .dl { color: #f1fa8c }
    .sd { color: #f1fa8c }
    .s2 { color: #f1fa8c }
    .se { color: #f1fa8c }
    .sh { color: #f1fa8c }
    .si { color: #f1fa8c }
    .sx { color: #f1fa8c }
    .sr { color: #f1fa8c }
    .s1 { color: #f1fa8c }
    .ss { color: #f1fa8c }
    .bp { color: #f8f8f2; font-style: italic }
    .fm { color: #50fa7b }
    .vc { color: #ff79c6; font-style: medium }
    .vg { color: #ff79c6; font-style: medium }
    .vi { color: #ff79c6; font-style: medium }
    .vm { color: #ff79c6; font-style: medium }
    .il { color: #bd93f9 }
}
